.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  > .card{
    height: 64px;
    flex: 1;
    background-color: var(--welcome-card-bg-color);
    border-radius: 8px;
    padding: var(--welcome-padding);
    margin: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--welcome-card-text-color);
    > .showImg{
      width: 128px;
      margin:-20px auto 20px;
    }
  }
  
  > .actions{
    background-color: var(--welcome-bg-end-color);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    font-size: 32px;
    height: var(--welcome-nav-height);
    padding: var(--welcome-padding);
    
    display: flex;
    justify-content: center;
    color:var(--welcome-text-color);
    a:nth-child(2){
      position: absolute;
      right: var(--welcome-padding);
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

