* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  font: inherit;
}

li {
  list-style: none;
}

.emoji-font-conf {
  font-weight: 400;
  font-family: 'apple color emoji', 'segoe ui emoji', 'noto color emoji', 'android emoji',
    emojisymbols, 'emojione mozilla', 'twemoji mozilla', 'segoe ui symbol';
}
