:root {
  --welcome-card-bg-color: #fff;
  --welcome-text-color: #fff;
  --welcome-card-text-color: #000;
  --welcome-bg-start-color: rgb(96, 53, 185);
  --welcome-bg-end-color: rgb(150, 77, 209);
  --welcome-padding: 16px;
  --welcome-nav-height: 64px;
  --button-color: #5c33be;
  --button-text-color: #fff;
  --button-fontsize: 18px;
  --button-radius: 8px;
  --button-height: 48px;
  --mask-color: rgba(0, 0, 0, 0.5);
  --overlay-mask-z-index: 8;
  --overlay-z-index: 16;
  --overlay-bg: white;
  --overlay-user-bg: #5c33be;
  --overlay-user-text: white;
  --top-safe-area-height: 24px;
  --key-button-bg-color: white;
  --key-button-text-color: black;
  --main-bg-color: #ddd;
  --income-color: #53a867;
  --input-info-time-color: black;
  --input-min-height: 48px;
  --border-color: #5c33be;
}
