:root {
  --welcome-card-bg-color: #fff;
  --welcome-text-color:#fff;
  --welcome-card-text-color:#000;
  --welcome-bg-start-color:rgb(96, 53, 185);
  --welcome-bg-end-color:rgb(150, 77, 209);
  --welcome-padding:16px;
  --welcome-nav-height:64px;
}