:root {
  --amount-text: #53a867;
  --app-name-text: #7878ff;
  --bg: white;
  --border-color: #5c33be;
  --button-border-color: #ddd;
  --button-color-danger: #be3333;
  --button-color: #5c33be;
  --button-fontsize: 18px;
  --button-height: 48px;
  --button-radius: 8px;
  --button-text-color: #fff;
  --date-text: #999999;
  --dialog-header-text: white;
  --error-color: #e10505;
  --income-color: #53a867;
  --input-border-color: #5c33be;
  --input-info-time-color: black;
  --input-min-height: 48px;
  --input-radius: var(--button-radius);
  --input-shadow: rgba(0, 0, 0, 0.25);
  --key-button-bg-color: white;
  --key-button-text-color: black;
  --list-amount-text: var(--amount-text);
  --list-tag-text: #333;
  --list-time-text: var(--date-text);
  --main-bg-color: #ddd;
  --main: #5c33be;
  --mask-color: rgba(0, 0, 0, 0.5);
  --overlay-bg: white;
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-mask-z-index: 8;
  --overlay-user-bg: #5c33be;
  --overlay-user-text: white;
  --overlay-z-index: 16;
  --tag-bg: #efefef;
  --top-safe-area-height: 24px;
  --total-bg: #252a43;
  --total-expenses: #53a867;
  --total-income: #fe7275;
  --total-text: white;
  --welcome-bg-end-color: rgb(150, 77, 209);
  --welcome-bg-start-color: rgb(96, 53, 185);
  --welcome-card-bg-color: #fff;
  --welcome-card-text-color: #000;
  --welcome-nav-height: 64px;
  --welcome-padding: 16px;
  --welcome-text-color: #fff;
  --z-index-navbar: 32;
  --van-overlay-z-index: 64 !important;
}
