.wrapper {
  .bgColor {
    border-bottom: 4px solid #ffffff77;
  }

  .list {
    display: flex;
    background-color: var(--welcome-bg-end-color);
    > .item {
      box-sizing: border-box;
      flex: 1;
      text-align: center;
      color: var(--button-text-color);
    }
  }
}
