.wrapper {
  position: relative;
  bottom: 1px;
  .bgColor {
    border-bottom: 4px solid #ffffff77;
  }
}
.tabs_nav {
  display: flex;
  background-color: var(--welcome-bg-end-color);
  position: sticky;
  z-index: 1;
  top: 0;
}
.tabs_nav_item {
  box-sizing: border-box;
  flex-grow: 1;
  text-align: center;
  color: var(--button-text-color);
}
