.wrapper {
  color: #d4d4ee;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--welcome-nav-height) - 66px - 12px);
  background-image: linear-gradient(to bottom,var(--welcome-bg-start-color),var(--welcome-bg-end-color));

  > header{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 66px;
  }
  > main{

    flex: 1;
    display: flex;
    flex-direction: column;
  }

 
}